/*
Grid layout här och mestadels layout-relaterade attribut och värden.
*/
div,
span {
  border: 1px solid black;
  border-radius: 5px;
}

.gridContainer {
  display: grid;
  grid-template-areas:
    "header header header"
    "left main right"
    "event event event"
    "footer footer footer";
  grid-template-rows: 80px 1fr 128px 70px;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  border: 3px solid green;
}
.gridTop {
  grid-area: header;
}
.gridMain {
  grid-area: main;
}
.gridEvent {
  grid-area: event;
  background-color: green;
}
.gridBot {
  grid-area: footer;
}
.gridLeft {
  grid-area: left;
}
.gridRight {
  grid-area: right;
}
.gridEvent {
  display: flex;
  justify-content: space-evenly;
}
.gridEvent > div {
  background-color: #f1f1f1;
  padding: 10px;
  border: 2px solid yellow;
}
