.characterObject {
  min-width: 64px;
  min-height: 64px;
  /*border: 3px solid black;*/
}
/*../assets/char_2/anim_run.gif*/
.eventMid {
  display: flex;
  justify-content: space-evenly;
}
.characterSub {
  background-size: cover;
  min-height: 64px;
}
#playerChar {
  background-image: url(../assets/char_2/anim_walk.gif);
}
#companionOneObject {
  background-image: url(../assets/char_3/anim_walk.gif);
}
#companionTwoObject {
  background-image: url(../assets/char_4/anim_walk.gif);
}
#enemyChar {
  background-image: url(../assets/char_1/anim_idle.gif);
}
.gridEvent {
  background: linear-gradient(#e66465, #9198e5);
  /*border: 15px;*/
}
.debug-text {
  visibility: hidden;
}
