.gridMain {
  display: grid;
  display: grid;
  grid-template-areas:
    "header header menu"
    "left main menu"
    "footer footer menu";
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 20% 1fr 25%;
  grid-row-gap: 10px;
}
.gridMain div {
  /*for debugging*/
  /*border: 1px solid black;*/
}
.mgHeader {
  grid-area: header;
  margin: 5px;
}
.mgLeft {
  grid-area: left;
  margin: 5px;
}
.mgMain {
  grid-area: main;
  margin: 5px;
}
.mgMenu {
  grid-area: menu;
}
.mgFoot {
  grid-area: footer;
  margin: 5px;
}

.mgMenu {
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-areas:
    "profile stats1 stats2"
    "links links links"
    "footer footer footer";
  grid-template-rows: 20% 1fr 10%;
  grid-template-columns: 25% 1fr 25%;
  grid-row-gap: 10px;
  background-image: linear-gradient(rgb(218, 218, 218), rgb(110, 110, 110));
  margin-left: 10px;
  margin-right: 10px;
  border-width: 0px 3px 0px 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 2 100%;
}
.mgmProfile {
  grid-area: profile;
}
.mgmStats1 {
  grid-area: stats1;
}
.mgmStats2 {
  grid-area: stats2;
}
/*
.mgmAir {
  grid-area: left;
}*/
.mgmLinks {
  grid-area: links;
}
.mgmFoot {
  grid-area: footer;
}
.mgmLinksContent {
  display: grid;
  grid-template-areas: "left right";
  justify-content: space-around;
  margin: 3px;
  padding: 5px;
}
.mgmLinksTitle,
.menuLinkBox {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.562),
    #a7ffff9a
  );
  border: 1px solid black;
  margin: 5px;
}
.menuLinkBox {
  grid-area: left;
  padding: 5px;
  margin: 3px;
}

.mgmProfile,
.mgmStats1,
.mgmStats2 {
  font-size: 0.7em;
}
.mgmProfileName {
  font-weight: 600;
}
.mgmProfileImg {
  background-image: url(../assets/char_1/p.png);
  height: 64px;
}

.createPlayerCont {
  position: absolute;
  z-index: 1;
  box-shadow: 5px 2px 2px rgba(155, 155, 155, 0.572);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.562),
    #a7ffff9a
  );
  visibility: visible;
  margin: 5px;
  padding: 5px;
}
.createPlayerForm img {
  max-width: 32px;
  display: inline-flex;
}
.Radio {
  display: inline-flex;
  align-items: center;
}

.Radio--large {
  font-size: 2em;
}

.Radio-Input {
  margin: 0 0.5em 0;
}
.radioMainCont {
  display: flex;
  justify-content: center;
}
.radioCont {
  /*height: 64px;*/
  /*border: 1px solid black;*/
  background-image: linear-gradient(45deg, white, #a7ffff);
  border: 1px dotted black;
  box-shadow: 5px 2px 2px #006969;
  margin-right: 15px;
}
.radioCont div {
  justify-content: center;
  vertical-align: center;
  display: flex;
}
#radio1 {
  background-image: url(../assets/char_2/tp.png);
}
#radio2 {
  background-image: url(../assets/char_3/tp.png);
}
#radio3 {
  background-image: url(../assets/char_4/tp.png);
}
.radioImage {
  min-height: 64px;
  min-width: 64px;
  background-size: cover;
}
